p {
    width: 600px;
    margin: 10px auto;
    text-align: left;
	font-family:Verdana, Geneva, sans-serif;
}

h2{
    width: 600px;
    margin: 10px auto;
    text-align: left;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
}