h1 {
    width: 600px;
    text-align: left;
	font-family:Verdana, Geneva, sans-serif;
	color: #900;
}

h2{
    width: 600px;
    text-align: left;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
}

li{
    width: 600px;
    text-align: left;
	font-family:Verdana, Geneva, sans-serif;
	color: #036;
}